name: ci
on:
  pull_request:
  push:
    branches: master

env:
  NODE_VERSION: 18.x

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: install
        run: npm install
      - name: test
        run: npm test